apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "zeroTouch.fullname" . }}-config
  labels:
{{ include "zeroTouch.labels" . | indent 4 }}
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
          http:

    processors:
      memory_limiter:
        check_interval: 1s
        limit_mib: 400
      batch:
        timeout: 1s
        send_batch_size: 1024
{{- if lt .Values.collector.samplingRate 1.0 }}
      probabilistic_sampler:
        sampling_percentage: {{ printf "%.1f" (mul .Values.collector.samplingRate 100) }}
{{- end }}

    exporters:
{{- if has "logging" .Values.collector.exporters }}
      logging:
        loglevel: info
{{- end }}
{{- if has "otlp" .Values.collector.exporters }}
      otlp:
        endpoint: {{ .Values.collector.otlpExporterEndpoint | quote }}
        tls:
          insecure: true
{{- end }}

    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [{{ include "zeroTouch.processors" . }}]
          exporters: [{{ join ", " .Values.collector.exporters }}]
        metrics:
          receivers: [otlp]
          processors: [{{ include "zeroTouch.processors" . }}]
          exporters: [{{ join ", " .Values.collector.exporters }}]
        logs:
          receivers: [otlp]
          processors: [{{ include "zeroTouch.processors" . }}]
          exporters: [{{ join ", " .Values.collector.exporters }}]
